/* reset css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* lxq - trang sinhvien, giangvien, monhoc */

div.search-item {
    width: 30%;
}

div.select-item {
    float: right;
}

div.select-item select {
    color: gray;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    height: 20px;
}

div.select-item-left select {
    height: 28px;
}

div.select-item-left button.btn-default {
    background-color: rgb(243, 243, 243);
    border-color: gray;
    border-radius: 10px;
}

div.select-item-left button.btn-default:hover {
    background-color: rgb(191, 230, 255);
}

div.container-table {
    margin: 50px 0;
}

div.button-item {
    display: inline-block;
}

button.edit, button.remove {
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
    border-color: gray;
}

button.edit:hover, button.remove:hover {
    background-color: rgb(255, 255, 255);
}

button.edit a, button.remove a{
    color: rgb(49, 41, 40);
}

button.edit a:hover, button.remove a:hover{
    text-decoration: none;
}

div.add-item {
    float: right;
}


div.pagination-block ul.pagination {
    display: flex;
    justify-content: center;
}

div.pagination-block ul.pagination li.active a{
    background-color: rgb(236, 236, 236);
    border-color: rgb(216, 216, 216);
}

div.pagination-block ul.pagination li a{
    color: gray;
}

/* vhh - trang header & footer */
body {
    margin-top: 150px;
}

.phandau {
    background-color: #fff;
    width: 100%;
    position: relative;
}

.logo {
    display: inline-block;
    position: relative;
    left: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.demo {
    padding: 20px;
    position: relative;
    display: inline-block;
}

.demo h3 {
    padding: 0;
    margin: 0;
}

.drop {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50px;
}

main {
    height: 1000px;
}

article {
    display: inline-block;
    padding: 0 40px;
    text-align: left;
    padding-bottom: 10px;
}

article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.phancuoi1 {
    background: #bdbdbd;
    /* color: */
}

.phancuoi1 article p {
    color: rgb(65, 65, 65);
}

.phancuoi1 article ul li a {
    color: rgb(65, 65, 65);
}

.phancuoi1 article ul li a:hover {
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.phancuoi2 {
    border-top: 1px solid rgb(138, 138, 138);
    background: #bdbdbd;
}

.phancuoi2 p {
    text-align: center;
    line-height: 70px;
    height: 70px;
}